body {
   background-color: white;
}

h1 {
  text-align: center;
  color: purple;
}

.submit {
	background-color: purple;
	color: white;
}

.bio, .destination {
	background-color: purple;
	color: white;
}