<div class="row">
<center><h1>myFavorites</h1></center>
<hr>
{{#each this}} 


    <div class="col-md-3"><img class="fav_photo" src="{{image}}"></h1><h3>{{displayName}}</h3>
    </div>


{{/each}}
</div>