<div class="container">
	<div class = "row">
		<div class = "col-md-10">
			<h1>{{ name }}</h1>
			<div>{{ photo }}</div>
			<section>{{ bio }}</section>
			<button class="edit">Edit</button>
		</div>
	</div>
</div>